.sequencer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--border-color);
    border: 8px solid var(--border-color);
    width: fit-content;
}

.sequencer-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.sequencer-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    width: 100%;
    padding: 0 12px;
    gap: 12px;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    background-color: var(--bg-tertiary);
}

.sequencer-menu-load {
    margin-left: auto;
}

.sequencer-track {
    display: flex;
    align-items: center;
    background-color: var(--bg-secondary);
    height: calc(var(--step-size) + 8px);
}

.sequencer-track-header {
    display: flex;
    align-items: center;
    width: 220px;
    height: 100%;
    padding: 0 8px;
    gap: 6px;
    border-right: 2px solid var(--border-color);
}

.sequencer-track-slider {
    width: 120px;
}

.sequencer-track-audio-display {
    width: 51px;
    text-align: center;
}

.sequencer-track-name {
    font-size: 13px;
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sequencer-step-grid {
    display: flex;
    align-items: center;
    padding: 0 6px;
    gap: 3px;
}

.sequencer-step {
    width: var(--step-size);
    height: var(--step-size);
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-subtle);
    border-radius: 3px;
    cursor: pointer;
}

.sequencer-step.active {
    background-color: var(--accent-color);
    border-color: var(--accent-highlight);
    box-shadow: inset 0 0 2px #ffffff;
}

.sequencer-step.start {
    margin-left: 3px;
}

.sequencer-step.highlighted {
    border-color: var(--accent-highlight);
    box-shadow: inset 0 0 2px #ffffff;
}

.sequencer-knob {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222;
    position: relative;
    cursor: pointer;
}

.sequencer-knob-indicator {
    width: 3px;
    height: 18px;
    background: white;
    position: absolute;
    left: 50%;
    top: 6px;
    transform-origin: 50% 19px;
}