body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    font-family: monospace;
    color: var(--text-primary);
    margin: 0;
    height: 100vh;
}

.game {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}