:root {
    --bg-dark: #21252b;
    --bg-tertiary: #2a2a32;
    --bg-hover: #353540;
    --bg-secondary: #1e1e24;
    --track-bg: #282c34;
    --border-color: #181a1f;
    --text-color: #abb2bf;
    --step-bg: #15181c;
    --step-border: #3b4048;
    --step-active: #56d8d6;
    --step-active-border: #80ecea;
    --accent-color: #00ffcc;
}