:root {
    --bg-primary: #21252b;
    --bg-secondary: #1e1e24;
    --bg-tertiary: #2a2a32;
    --bg-hover: #353540;

    --border-color: #181a1f;
    --border-subtle: #3b4048;

    --text-primary: #abb2bf;

    --accent-color: #00ffcc;
    --accent-highlight: #80ecea;
}